.c-header__inline-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F0F4FF;
}
.c-mega-menu__content {
    display: none;
}
.c-header__hover-menu-item {
    height: 55px;
    display: flex;
    align-items: center;
}
.c-header__hover-menu-item .mega-menu__content {
    opacity: 1 !important;
}

.mega-menu:hover .c-mega-menu__content {
    display: block;
}
.c-list-menu--inline {
    align-items: center;
}
.c-header__menu-item--position {
    position: relative;
}
.header__menu-item .c-header__menu--hover-bottom {
    position: absolute;
    bottom: -20px;
    background-color: #4a49fe;
    height: 2px;
    transition: transform 0.3s ease;
    z-index: 20;
    left: 18px;
    width: calc(100% - 30px);
    transform: scale(0);
    will-change: transform;
    display: block !important;
}