.collection-title {
    text-align: center;
    font-family: Good Sans;
    font-size: 27px;
    font-weight: 500;
    line-height: 32.4px;
    letter-spacing: 1px;
    text-align: center;
    color: #171717;
}